:1994 {
    root * /openedx/app/dist
    log {
    	output stdout
    	format console
    }
    handle_path {{ GRADEBOOK_PUBLIC_PATH }}/* {
        try_files {path} /index.html
        file_server
    }
}
